.container {
    max-width: 720px;
}

input:invalid {
    border-color: var(--bs-form-invalid-border-color);
}

input:invalid:focus {
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
}
